{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/all/signin.css')}}">
{% endblock %}

{% block body %}
	{# <h1>Login{{ app.user.id }} </h1> #}
	<div role="main">
		<div class="text-center">
			<form action="{{ path('security_login') }}" method="post" class="form-signin">

				<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" id="inputEmail" name="_username" class="form-control" placeholder="Email address" required autofocus>

				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>

				
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				<div>
					<a href="{{path('security_registration')}}">Créer un compte </a>
					<a href="#"> Mot de passe oublié ?</a>
				</div>
				<p class="mt-5 mb-3 text-muted">&copy; selectJob</p>
			</form>
		</div>
	</div>

{% endblock %}