div[role="main"]{
	margin-top: 100px;
}
.competence-form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#btn__add{
	display: inline-block;
}
#input_autre, #btn_new_add, #niveaux_choice_new{
	display: none;
}